<h1>All Recipes</h1>

<p>
  <%= link_to "New Recipe", new_recipe_path %> |
  <%= link_to "Users", users_path %>
</p>

<% @recipes.each do |recipe| %>
  <div>
    <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
    <p><%= recipe.ingredients %></p>
    <p><strong>User:</strong> <%= recipe.user.name %></p>
    <p><strong>Comments:</strong> <%= recipe.comments.count %></p>
  </div>
  <hr>
<% end %>