<div id="<%= dom_id resume %>">
  <div>
    <strong>Name:</strong>
    <%= resume.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= resume.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= resume.phone %>
  </div>

  <div>
    <strong>Summary:</strong>
    <%= resume.summary %>
  </div>

  <div>
    <strong>Education:</strong>
    <%= resume.education %>
  </div>

  <div>
    <strong>Skills:</strong>
    <%= resume.skills %>
  </div>

</div>
